<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Prayaas</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="/animate/animate.min.css" rel="stylesheet">
    <link href="/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/styles/style.css" rel="stylesheet">


</head>

<body>


    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <img style="width:5%; margin-right: 3px;" src="/img/path864.png" alt="">
            <a href="/" class="navbar-brand">Prayaas</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="/" class="nav-item nav-link active">Home</a>





                    <a href="/event" class="nav-item nav-link">Events</a>



                    <a href="/successstories" class="nav-item nav-link">Stories</a>

                    <a href="/about" class="nav-item nav-link">About</a>

                    <a href="/merch" class="nav-item nav-link">Merch</a>

                    <a href="/contact" class="nav-item nav-link">Contact</a>

                    <a href="/cpass" class="nav-item nav-link">Reset Password</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav Bar End -->


    <!-- Carousel Start -->
    <div class="carousel">
        <div class="container-fluid">
            <div class="owl-carousel">
                <div class="carousel-item">
                    <div class="carousel-img">
                        <img src="/img/carousel-1.jpg" alt="Image">
                    </div>
                    <div class="carousel-text">

                        <img style="width: 70%;" src="/img/path179.png" alt="">


                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-img">
                        <img src="/img/carousel-2.jpg" alt="Image">
                    </div>
                    <div class="carousel-text">
                        <h1 id="section-h1-next">Education for all</h1>
                        <p>
                            We are now over 13 years old. Right from Prayaas' inception, we wanted every child in our
                            reach to be able to atleast read and write properly.
                        </p>
                        <div class="carousel-btn">
                            <a class="btn btn-custom" href="#donate">Donate Now</a>
                            <a class="btn btn-custom btn-play" target="_blank"
                                href="https://www.youtube.com/watch?v=pRC-e2etGyU">Watch Video</a>

                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-img">
                        <img src="/img/carousel-3.jpg" alt="Image">
                    </div>
                    <div class="carousel-text">
                        <h1 id="section-h1-next">Bringing smiles to underprivileged</h1>
                        <p>
                            For that, it was crucial to understand their basic problem and work on them in order to
                            provide them what they rightfully deserve.
                        </p>
                        <div class="carousel-btn">
                            <a class="btn btn-custom" href="#donate">Donate Now</a>
                            <a class="btn btn-custom btn-play" target="_blank"
                                href="https://www.youtube.com/watch?v=pRC-e2etGyU">Watch Video</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->

    <!-- Video Modal Start-->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"
                            allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal End -->


    <!-- About Start -->
    <div class="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-img" data-parallax="scroll" data-image-src="/img/about.jpg"></div>
                </div>
                <div class="col-lg-6">
                    <div class="section-header">
                        <p>Learn About Us</p>
                        <h2>Worldwide non-profit charity organization</h2>
                    </div>
                    <div class="about-tab">
                        <ul class="nav nav-pills nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#tab-content-1">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#tab-content-2">Mission</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#tab-content-3">Vision</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="tab-content-1" class="container tab-pane active">

                                5 September 2006, on this momentous day a handful of students vowed to spread the light
                                of literacy, and inform the masses about the importance of education. And in the fire of
                                this pledge Prayaas was forged.

                            </div>
                            <div id="tab-content-2" class="container tab-pane fade">

                                Prayaas is an organization instituted to help impecunious children who can barely manage
                                a single day's meal. The organization is a great initiative and has helped many
                                desultory children map their tracks and future as well as relish their monotonous life
                                with a small ray of hope. Unsurprisingly the strength of the pillars on which Prayaas
                                stands is determined by the erudition of its volunteers who have down the years shaped
                                its destiny.

                            </div>
                            <div id="tab-content-3" class="container tab-pane fade">

                                We work hard to provide better conditions to these children and try to eradicate the
                                ailments that mar our society. We don't claim to have reformed the society but
                                understand that wars against nations are fought to change maps but the war against
                                illiteracy is fought to map change. Together we can, and together we will.

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Service Start -->
    <div class="service">
        <div class="container">
            <div class="section-header text-center">
                <p>What We Do?</p>
                <h2>A social activity to brighten the future.</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-education"></i>
                        </div>
                        <div class="service-text">
                            <h3>Education</h3>
                            <p>We provide free and equal education to all</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-donation"></i>
                        </div>
                        <div class="service-text">
                            <h3>Donation Drive</h3>
                            <p>Donations are made to encourage children for school</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-healthcare"></i>
                        </div>
                        <div class="service-text">
                            <h3>Awareness programs</h3>
                            <p>Various awareness programs like held to teach moral and social lessons</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-education"></i>
                        </div>
                        <div class="service-text">
                            <h3>Workshops</h3>
                            <p>Various fun activities are held throught the year.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-home"></i>
                        </div>
                        <div class="service-text">
                            <h3>College visit</h3>
                            <p>College visits are regularly held for special occasions.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-social-care"></i>
                        </div>
                        <div class="service-text">
                            <h3>Cultural Programs</h3>
                            <p>On auspicious events like republic day, holi, diwali various events are held</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->





    <!-- Donate Start -->
    <div class="donate" id="donate" data-parallax="scroll" data-image-src="/img/donate.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="donate-content">
                        <div class="section-header">
                            <p>Donate Now</p>
                            <h2>Let's donate to needy people for better lives</h2>
                        </div>
                        <div class="donate-text">
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare
                                velit non. Aliquam metus tortor, auctor id gravida, viverra quis sem. Curabitur non nisl
                                nec nisi maximus. Aenean convallis porttitor. Aliquam interdum at lacus non blandit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="donate-form" style="text-align: center;">
                        <img style="width: 80%;" src="/img/qr.png" alt="">
                        <h2 style="margin-top: 10px;">Donate to Prayaas</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Donate End -->


    <!-- Event Start -->
    <div class="event">
        <div class="container">
            <div class="section-header text-center">
                <p>Past Events</p>
                <h2>Be ready for our upcoming charity events</h2>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="event-item">
                        <img src="img/event-1.jpg" alt="Image">
                        <div class="event-content">
                            <div class="event-meta">
                                <p><i class="fa fa-calendar-alt"></i>30 November 2022</p>
                                <p><i class="far fa-clock"></i>8:00 - 10:00</p>
                                <p><i class="fa fa-map-marker-alt"></i>Peepal Gaon</p>
                            </div>
                            <div class="event-text">
                                <h3>Donation Drive</h3>
                                <p>
                                    Here we donate clothes to poor people
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="event-item">
                        <img src="img/event-2.jpg" alt="Image">
                        <div class="event-content">
                            <div class="event-meta">
                                <p><i class="fa fa-calendar-alt"></i>26 January 2023</p>
                                <p><i class="far fa-clock"></i>9:00 - 12:00</p>
                                <p><i class="fa fa-map-marker-alt"></i>AAA Section IIITA</p>
                            </div>
                            <div class="event-text">
                                <h3>Republic Day Celebrations</h3>
                                <p>
                                    Celebrating Republic Day with Prayaas students.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Event End -->


    <!-- Team Start -->

    <!-- Team End -->


    <!-- Volunteer Start -->
    <div class="volunteer" data-parallax="scroll" data-image-src="img/volunteer.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="volunteer-form">
                        <form action="/reqdonate" method="post">
                            <div class="control-group">
                                <input type="text" class="form-control" placeholder="Name" name="name"
                                    required="required" />
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control" placeholder="Email" name="email"
                                    required="required" />
                            </div>
                            <div class="control-group">
                                <textarea class="form-control" placeholder="Proposal" name="proposal"
                                    required="required"></textarea>
                            </div>
                            <div>
                                <button class="btn btn-custom" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="volunteer-content">
                        <div class="section-header">
                            <p>Proposals</p>
                            <h2>Serving to needy is serving to God</h2>
                        </div>
                        <div class="volunteer-text">
                            <p>
                                You can fill up this form to oragize a events such as food or sweet distribution through
                                Prayaas.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Volunteer End -->


    <!-- Testimonial Start -->


    <% var
        arr=["img/testimonial-1.jpg","img/testimonial-2.jpg","img/testimonial-3.jpg","img/testimonial-4.jpg","img/testimonial-5.jpg","img/testimonial-6.jpg","img/testimonial-7.jpg","img/testimonial-8.jpg","img/testimonial-9.jpg","img/testimonial-10.jpg"]%>
        <div class="testimonial">
            <div class="container">
                <div class="section-header text-center">
                    <p>Testimonial</p>
                    <h2>Alumni views on Prayaas</h2>
                </div>
                <div class="owl-carousel testimonials-carousel">

                    <%for(let i in message){%>
                        <div class="testimonial-item">
                            <div class="testimonial-profile">
                                <img src="<%=arr[i%10]%>" alt="Image">
                                <div class="testimonial-name">
                                    <h3>
                                        <%=message[i].name%>
                                    </h3>
                                    <p>
                                        <%=message[i].profession%>
                                    </p>
                                    <p>
                                        <%=message[i].email%>
                                    </p>
                                </div>
                            </div>
                            <div class="testimonial-text">
                                <p>
                                    <%=message[i].testimonial%>
                                </p>
                            </div>
                        </div>
                        <%}%>

                </div>
            </div>
        </div>
        <!-- Testimonial End -->
        <div style="align-items: center;text-align: center;">

            <a href="/alumni"><button class="btn btn-custom">Add Your Story</button></a>
        </div>

        <br>
        <hr>




        <section class="faq-section">
            <div class="container">
                <div class="row">
                    <!-- ***** FAQ Start ***** -->
                    <div class="col-md-6 offset-md-3">

                        <div class="faq-title text-center pb-3">
                            <h2 style="font-weight: 700;">FAQ</h2>
                        </div>
                    </div>
                    <div class="col-md-6 offset-md-3">
                        <div class="faq" id="accordion">
                            <div class="card">
                                <div class="card-header" id="faqHeading-1">
                                    <div class="mb-0">
                                        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1"
                                            data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                            <span class="badge">1</span>What is Prayaas?
                                        </h5>
                                    </div>
                                </div>
                                <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <p>A social initiative by students of IIIT Allahabad </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="faqHeading-2">
                                    <div class="mb-0">
                                        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2"
                                            data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                                            <span class="badge">2</span> What is Prayaas's 6-point strategy?
                                        </h5>
                                    </div>
                                </div>
                                <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <ul>
                                            <li>Create Awareness</li>
                                            <li>Quantify the problem of each child.</li>
                                            <li>Involve Volunteers</li>
                                            <li>Build public relations</li>
                                            <li>Work on scale</li>
                                            <li>Evaluate and Improve</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="faqHeading-3">
                                    <div class="mb-0">
                                        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3"
                                            data-aria-expanded="false" data-aria-controls="faqCollapse-3">
                                            <span class="badge">3</span>What is SISS?
                                        </h5>
                                    </div>
                                </div>
                                <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <p>SISS is an add-on course that has been introduced in academic session and is
                                            associated with Prayaas</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="faqHeading-4">
                                    <div class="mb-0">
                                        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4"
                                            data-aria-expanded="false" data-aria-controls="faqCollapse-4">
                                            <span class="badge">4</span> What are the 5 phases of SISS?
                                        </h5>
                                    </div>
                                </div>
                                <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <ul>
                                            <li>Introduction : An introductory phase where a student gets to interact
                                                with the students.</li>
                                            <li>Village Life : This phase deals with village visits, donation drive and
                                                workshops.</li>
                                            <li>Social ED : This phase deals with the core of Prayaas, which is
                                                educating the kids.</li>
                                            <li>Moral Ed : This deals with various workshops and sessions where we tell
                                                them how to identify the ethical aspects of things.</li>
                                            <li>Leadership : This deals with the management of Prayaas kids, classes,
                                                events and the team.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="faqHeading-5">
                                    <div class="mb-0">
                                        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-5"
                                            data-aria-expanded="false" data-aria-controls="faqCollapse-5">
                                            <span class="badge">5</span> What is Lorem Ipsum?
                                        </h5>
                                    </div>
                                </div>
                                <div id="faqCollapse-5" class="collapse" aria-labelledby="faqHeading-5"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <p> It has survived not only five centuries, but also the leap into electronic
                                            typesetting, remaining essentially unchanged. It was popularised in the
                                            1960s with the release of Letraset sheets containing</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="faqHeading-6">
                                    <div class="mb-0">
                                        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-6"
                                            data-aria-expanded="false" data-aria-controls="faqCollapse-6">
                                            <span class="badge">6</span> Where does it come from?
                                        </h5>
                                    </div>
                                </div>
                                <div id="faqCollapse-6" class="collapse" aria-labelledby="faqHeading-6"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
                                            for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum
                                            et Malorum" by Cicero are also reproduced in their exact original form,
                                            accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="faqHeading-7">
                                    <div class="mb-0">
                                        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-7"
                                            data-aria-expanded="false" data-aria-controls="faqCollapse-7">
                                            <span class="badge">7</span> Why do we use it?
                                        </h5>
                                    </div>
                                </div>
                                <div id="faqCollapse-7" class="collapse" aria-labelledby="faqHeading-7"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as
                                            their default model text, and a search for 'lorem ipsum' will uncover many
                                            web sites still in their infancy. Various versions have evolved over the
                                            years, sometimes by accident, sometimes on purpose (injected humour and the
                                            like).</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>








        <!-- Footer Start -->
        <div class="footer">
            <div class="container ">
                <div class="center-elements">

                    <a href="https://www.facebook.com/PrayaasIIITAOfficial/"> <img id="footer-img"
                            src="./img/facebook.svg" alt=""> </a>
                    <a href="https://twitter.com/prayaasiiita?lang=en"> <img id="footer-img" src="./img/twitter.svg"
                            alt=""> </a>
                    <a href="https://www.instagram.com/prayaasiiita/?hl=en"> <img id="footer-img"
                            src="./img/instagram.svg" alt=""> </a>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Back to top button -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="/easing/easing.min.js"></script>
        <script src="/owlcarousel/owl.carousel.min.js"></script>
        <script src="/waypoints/waypoints.min.js"></script>
        <script src="/counterup/counterup.min.js"></script>
        <script src="/parallax/parallax.min.js"></script>

        <!-- Contact Javascript File -->


        <!-- Template Javascript -->
        <script src="/js/main.js"></script>
        <script>

            const items = document.querySelectorAll(".accordion button");

            function toggleAccordion() {
                const itemToggle = this.getAttribute('aria-expanded');

                for (i = 0; i < items.length; i++) {
                    items[i].setAttribute('aria-expanded', 'false');
                }

                if (itemToggle == 'false') {
                    this.setAttribute('aria-expanded', 'true');
                }
            }

            items.forEach(item => item.addEventListener('click', toggleAccordion));
        </script>
</body>

</html>